@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
body{
    background:#0c1022;
    color:#fff;
}
.main{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background:transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;
}
.logo{
    font-size:25px;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    pointer-events:none;
    opacity:0;
    animation:slideTop 1s ease forwards;
}
.navbar a{
    font-size:18px;
    display:inline-flex;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    margin-left:35px;
    opacity:0;
    animation:slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a.highlight,
.navbar a:hover{
    background:linear-gradient(45deg,#f06,#3cf);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.home{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:70px 10% 0;
}
.content{
    max-width:500px;
    margin-left:-30px;
}
.content h1{
    font-size:56px;
    font-weight:700;
    line-height:1.2;
    animation:slideRight 1s ease forwards;
    animation-delay: .7s;
}
.content h3{
    font-size:32px;
    font-weight:700;
    animation:slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.content p{
    font-size:16px;
    margin:20px 0 40px;
    animation:slideLeft 1s ease forwards;
    animation-delay: 1s;
}
 .btn{
    width:250px;
    height:48px;
    display:inline-flex;
    position:relative;
    justify-content:center;
    align-items: center;
    border-radius:40px;
    font-size:19px;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    letter-spacing:1px;
    z-index:1; 
    opacity:0;
    animation:slideTop 1s ease forwards;
    animation-delay: 1.8s;
}
.btn::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    inset:0;
    background:linear-gradient(45deg,#f06,#3cf,#f06);
    z-index:-1;
    background-position:0 0;
    border-radius:40px;
    background-size:200%; 
    filter:blur(5px);
    transition:.5s ease;
}
.btn:hover::before{
    background-position:100% 0;
}
.btn::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    inset:0;
    background:linear-gradient(45deg,#f06,#3cf,#f06);
    z-index:-1;
    background-position:0 0;
    border-radius:40px;
    background-size:200%; 
    transition:.5s ease;
}
.btn:hover::after{
    background-position:100% 0;
}
.social-media a{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background:linear-gradient(45deg,#f06,#3cf);
    border-radius:50%;
    font-size:20px;
    color:#fff;
    text-decoration:none;
    margin:20px 0;
    z-index:1;

}
.social-media a:nth-child(1){
    opacity:0;
    animation:slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}
.social-media a:nth-child(2){
    opacity:0;
    animation:slideRight 1s ease forwards;
    animation-delay: 2.1s;
}
.social-media a:nth-child(3){
    opacity:0;
    animation:slideTop 1s ease forwards;
    animation-delay: 2.1s;
}
 .social-media a::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    /* background:linear-gradient(45deg,#f06,#3cf);  */
    border-radius:50%;
    transition:.5s ease;
    z-index:-1;
}
.social-media a:hover::before{
      filter:blur(5px);
} 
.social-media a::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:#0c1022;
    border-radius:50%;
    transform:scale(.88);
    z-index:-1;
    transition:.5s ease;

}
.social-media a:hover::after{
    transform:scale(0);
}
.profile{
    width:410px;
    height:410px;
    opacity:0;
    animation:zoomIn 1s ease forwards,floatimage 4s ease-in-out infinite;
    animation-delay: 2.1s,3.1s;
}
.profile .glowing-circle{
    width:100%;
    height:100%;
    background:yellowgreen;
    border-radius:50%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
}
.profile .glowing-circle::after{
    content:'';
    position:absolute;
    width:380px;
    height:380px;
    background:#0c1022;
    border-radius:50%;
}
.glowing-circle span{
    width:100%;
    height:100%;
    background:linear-gradient(#f06,#3cf); 
    border-radius:55%;
    position:absolute;
    animation:circleRotate 5s linear infinite;
}
.glowing-circle span::nth-child(1){
    filter:blur(10px);
}
.glowing-circle .image{
    position:relative;
    width:380px;
    background:#0c1022;
    height:380px;
    z-index:1;
    border-radius:50%;
    overflow:hidden;
}
img{
    position:relative;
    
}
 .image img{
   position:relative;
    height:380px;
    width:380px;
    display:block;
    background-color: #0c1022;
    top:-1px;
    bottom:-5px;
    left:190px;
    justify-content: center;
    align-items: center;
    transform:translateX(-50%);
    margin:auto; 
}
@keyframes slideTop{
    0%{
        opacity:0;
        transform:translateY(100px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes slideRight{
    0%{
        opacity:0;
        transform:translateX(-100px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity:0;
        transform:translateX(100px);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}
@keyframes slideBottom{
    0%{
        opacity:0;
        transform:translateY(-100px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes zoomIn{
    0%{
        opacity:0;
        transform:scale(0);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes floatimage{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-24px);
    }
    100%{
        transform:translateY(0);
    }
}
@keyframes circleRotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}

